body {
    margin: 0px;
    vertical-align: baseline;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #quote-box {
    font-family: didot-medium, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.4em;
    height: 100vh;
    padding-bottom: 20px;
    border-radius: 10px;
    
  }
  
  #wrapper {
    border: 5px  solid white;
    margin: auto;
    padding: 40px 40px ;
    width: 400px;
    border-radius: 10px; 
    overflow: hidden; 
  }

  .cite i {
    line-height: 1.8em;
  }
  
  #author {
    float: right;
    font-size: 0.7em;
    padding-top: 20px;
    letter-spacing: 1px;
    font-family: humanist, sans-serif;
  }

  .footer {
    position: sticky;
    border: none;
    outline: none;
    padding-top: 30px;
    margin-top: 30px;
    opacity: 1;
    width: 100%;
    
  }

  .footer-content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  .footer-content .social-media-icons {
    float: left;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    line-height: normal;
    width: 36px;
    height: 36px;
  }

  .footer-content .quote-button {
    margin-left: auto;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 0.3px white solid transparent;
    border-radius: 3px;
    border-color: white;
    letter-spacing: 0.8px;
    font-size: 0.8em;
    border-width: 0.3px;
    height: 24px;
    font-family: humanist, sans-serif;
  }

  
    


  


  