body {
    margin: 0px;
    vertical-align: baseline;
  }
  
  #quote-box {
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    height: 100vh;  
  }
  
  #wrapper {
    background: white;
    border: 5px  solid white;
    border-radius: 0.4rem;
    margin: auto;
    padding: 40px 50px ;
    width: 400px;
  }

  .cite i {
    line-height: 1.8em;
  }
  
  #author {
    float:right;
    font-size: 0.8em;
    padding-top: 20px;
  }

  .footer {
    position: sticky;
    border: none;
    outline: none;
    padding-top: 20px;
    margin-top: 70px;
    opacity: 1;
    width: 100%;
    bottom: 0;
  }

  .footer-content {
    display: flex;
    flex-direction: row;  
  }

  .footer-content .social-media-icons {
    float: left;
    margin-right: 10px;
    font-size: 1.0em;
    display: flex;
    justify-content: center;
    
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    line-height: normal;
    padding-left: 1px;
  }

  .footer-content .quote-button {
    margin-left: auto;
    width: 100px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }


  


  